.content{
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    height: 200vh;
    top: 0vh;
}
.addAdmin{
    position: absolute;
    left: 10vw;
    top: 5vh;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
}
.addChallenge{
    position: absolute;
    top: 5vh;
    right: 10vw;
    width: 40vw;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
}
.information{
    position: absolute;
    top: 75vh;
}
.hide{
    display: none;
}
span.welcome{
    position: absolute;
    text-align: center;
    color: white;
    align-items: center;
    left: 41vw;
    margin-bottom: 5px;
    margin-top: 15px;
}
#username:hover{
    box-shadow: 1px 1px 1px 1px aqua;
}
#password:hover{
    box-shadow: 1px 1px 1px 1px aqua;
}
#captcha:hover{
    box-shadow: 1px 1px 1px 1px aqua;
}
#submit:hover{
    background-color: aqua;
    border-radius: 2px;
    font-weight: bold;
}
h1{
    text-align: center;
}
p.gray{
    color: rgb(175, 175, 175);
    font-size: small;
    text-align: left;
    line-height: 10px;
    margin: 0;
    margin-bottom: 8px;
}
.secQ{
    margin: auto;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: fit-content;
    margin-bottom: 0;
}
#change,#secHeader,#secAlable,#secSelection,#secAnswer{
    display: none;
}
#change,#addc{
    margin: auto;
    margin-bottom: 0px;
    height: 50px;
    background-color: aqua;
    font-size: larger;
    color: white;
    text-shadow: 2px 2px 3px black;
    border-radius: 15px;
}
#change:hover{
    background-color: rgb(0, 199, 199);
    height: 53px;
    font-size: 20px;
}
#addc:hover{
    background-color: rgb(0, 199, 199);
    height: 53px;
    font-size: 20px;
}
.cent{
    text-align: center;
    line-height: 20px;
    margin: 0;
}
.regSel{
    margin-bottom: 0px;
}
#verified{
    display: none;
}
.hide{
    display: none;
}
