body{
    margin: 0;
    padding: 0;
    background: url('img/backgrounds/keyHunterBackground.jpg') no-repeat center center fixed;
    background-size: cover;
}

.kh_table_container{
    /* height: 700px;
    width: 700px; */
    position: relative;
}

.kh_categories_buttons {
    display: grid;
    grid-template-columns: 35px 35px 35px 35px 35px;
}

.kh_table{
    border-collapse: collapse;
    margin: 0px;
}

tr {
    padding: 0px;
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 5px;
}

th, td {
    background-color: rgb(144, 66, 45);
    border: 1px solid black;
    text-shadow: 1px 1px 1px white;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
  }

.khBtn { 
    color: black;
    background-color: green; 
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin: 2px;
}

.khBtn:hover{
    background-color: rgb(0, 0, 110);
    color: white;
}

.kh_numerals{
    position: absolute;
    top: 30px;
    line-height: 24.2px;
    left: 3px;
    text-align: center;
}

.kh_numerals, .kh_alphabet {
    color: white;
    background-color: rgb(0, 0, 96);
    border: 1px solid black;
    border-radius: 10px;
}

.kh_alphabet{
    position: absolute;
    top: 10px;
    left: 28px;
    margin: 0;
    padding-left: 2px;
}

/* .kh_left > div {
} */

.kh_question_container {
    height: fit-content;
    width: 500px;
    font-weight: bolder;
    font-size: x-large;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    margin: 40px;
}

.kh_panel_container {
    width: 500px;
    margin: 40px;
}

.kh_panel {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    height: inherit;
    width: inherit;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
}

.kh_tabs_container {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.kh_tab_button {
    height: 125px;
    width: 125px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    border-right:none;
    text-align: center;
    padding: 15px;
    margin: 5px;
    margin-right:0px;
}

.kh_tab_button > img {
    height: 100%;
    width: 100%;
}

.kh_tab_button:hover{
    right:10px;
    transition: ease 0.25s;
}

.kh_note_panel {
    height: 400px;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    padding: 30px 40px;
    background-color: rgb(255, 250, 230);
    border-radius: 15px;
}

.kh_note_textarea {
    border: none;
    font-family: "Permanent Marker", cursive;
    font-size: 18px;
    line-height: 18px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    resize: none;
    padding: 8px;
    background-image: linear-gradient(to bottom, transparent 8px, rgba(0, 0, 0, 0.2) 8px, rgba(0, 0, 0, 0.2) 9px, transparent 9px);
    z-index: 10;
    background-size: 18px 18px;
}

.kh_note_content {
    height: 99%;
    width: 99%;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 5px;
}

.kh_note_header {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    margin: 0;
}

.kh_incorrect {
    background-color: red;
}

.kh_correct {
    background-color: limegreen;
}
.kh_home_btn{
    font-size: 90px;
    background-color: rgb(26, 133, 26);
    color: rgb(134, 56, 37);
    text-shadow: 2px 2px 3px black;
    padding: 15px;
    padding-top: 0px;
    margin: 0px;
    height: 80px;
    line-height: 0px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
}
.kh_home_btn:hover{
    filter: brightness(50%);
    transition: .6s;
}
.kh_home_btn:active{
    filter: brightness(20%);
    transition: .6s;
}
.kh_easy_btn {
    background-color: #d58001;
}

.kh_medium_btn {
    background-color: #808080;
}

.kh_hard_btn {
    background-color: #dfd404;
}

.kh_easy_btn,
.kh_medium_btn,
.kh_hard_btn {
    display: inline;
    border: 1px solid #ccc;
    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, transparent 1px, transparent 6px);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 60px;
    width: 150px;
    clip-path: polygon(0% 50%, 10% 0%, 30% 0%, 37% 30%,
            42% 30%, 46% 34%, 50% 30%,
            55% 30%, 59% 37%, 63% 30%,
            64% 30%, 68% 37%, 72% 30%,
            75% 30%, 79% 34%, 83% 30%,
            84% 30%, 87% 36%, 91% 30%,
            95% 30%, 100% 50%, 95% 70%, 37% 70%, 30% 100%, 10% 100%);
    overflow: hidden;
    text-align: left;
    padding: none;
    margin-bottom: 20px;
}

.khDifSelectTestStyling {
    display: flex;
    align-items: center;
}

.khbar {
    height: 2px;
    width: 98%;
    background-color: black;
}

.kh_easy_btn:hover,
.kh_medium_btn:hover,
.kh_hard_btn:hover {
    filter: brightness(50%);
    transition: .6s;
    animation: word-anim 2s;
}

.kh_easy_btn:active,
.kh_medium_btn:active,
.kh_hard_btn:active {
    filter: brightness(20%);
}

@keyframes word-anim {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

.kh_next_btn {
    border: 1px solid rgb(0, 100, 190);
    background-color: rgb(0, 170, 255);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    height: 50px;
    width: 100px;
}

.kh_controls,
.kh_initScreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kh {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.kh_startScreen {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-weight: 600;
    font-size: xx-large;
    line-height: 5px;
    text-align: center;
}
.kh_inGame{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1425px) {
    
    .kh_inGame {
        flex-direction: column;
    }

    .kh_left {
        order: 1;
    }

    .kh_inGame {
        height: fit-content;
        padding: 50px 0px 50px 0px;
    }

    /* .kh_question_container {
    } */

    .kh_tabs_container {
        width: 600px;
        order: 2;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .kh_table_container {
        order: 3;
    }

} 

.hide {
    display: none;
}
