.trivia {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 68, 102);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triviaCorrect {
    background-color: lime;
}

.triviaWrong {
    background-color: rgb(102, 0, 0);
}

.trivia.wrong {
    background-color: rgb(102, 0, 0);
}

.trivia_triv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.trivia_trivia_container {
    width: inherit;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.trivia_btn_grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.trivia_btn {
    border: 1px solid rgb(0, 100, 190);
    background-color: rgb(0, 170, 255);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 1.2rem;
}

.trivia_btn:hover {
    border-color: black;
}

.trivia_btn.correct {
    background-color: lime;
    color: black;
}

.trivia_btn.wrong {
    background-color: rgb(102, 0, 0);
}
.trivia_btn.trivia_selectedCorrect {
    background-color: blue;
}
.trivia_btn.trivia_selectedWrong {
    background-color: blue;
}

.trivia_start_btn,
.trivia_next_btn,
.trivia_finish_btn,
.trivia_reset_btn,
.trivia_prac_btn,
.trivia_rank_btn,
.trivia_home_btn,
.trivia_PracByR_btn,
.trivia_PracByT_btn,
.trivia_submitList_btn,
.trivia_Back_btn {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid black;
    background-color: rgb(0, 170, 255);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    transition: .6s;
    box-shadow: 0px 5px 5px rgb(68, 68, 68);
}

.trivia_prac_btn,
.trivia_rank_btn,
.trivia_home_btn {
    width: 110px;
}

.trivia_start_btn:hover,
.trivia_next_btn:hover,
.trivia_finish_btn:hover,
.trivia_reset_btn:hover,
.trivia_prac_btn:hover,
.trivia_rank_btn:hover,
.trivia_home_btn:hover,
.trivia_PracByR_btn:hover,
.trivia_PracByT_btn:hover,
.trivia_submitList_btn:hover,
.trivia_Back_btn:hover {
    border: 1px solid black;
    background-color: rgb(0, 113, 184);
}

/* #trivia_topic_label,
#trivia_numPracQuestionsLabel
#trivia_form {
    font-size: 1.25rem;
} */

#trivia_topic,
#trivia_numPracQuestions {
    font-size: 1rem;
}

#trivia_question {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 550;
    text-align: center;
}

.triv_bigBlack hr {
    height: 2px;
    background-color: black;
    border: 1px black;
}

.trivia_controls, .trivia_initScreen, .trivia_PracByRorT {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#trivia_score {
    width: fit-content;
    height: fit-content;
    color: white;
    border: 2px solid black;
    padding: 4px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: rgb(0, 0, 51);
    margin: 0px 0px 50px 0px;
}

#trivia_score_rank {
    display: flex;
    align-items: center;
    justify-content: center;
}

#trivia_total_score {
    font-weight: 600;
    font-size: larger;
}

#trivia_score_hr {
    background-color: white;
}

#trivia_pracOrRank {
    width: 425px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.trivia_rank_select {
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
}

#trivia_rank {
    font-size: 15px;
}

.trivia_pracByRForm {
    font-size: 1.4rem;
    font-weight: 600;
}

#trivia_form {
    margin: 0;
}
.triv_inGame_Home{
    background: none;
    color: white;
    border: 1px solid white;
    font-size: xx-large;
    line-height: 0px;
    border-radius: 20px;
    
}
.triv_inGame_Home:hover{
    filter: brightness(175%);
    background-color: blue;
    transition: 1s;
}
.triv_inGame_Home_div{
    display: flex;
    justify-content: center;
    line-height: 0px;
}
.trivia_displayRealRank{
    font-size: x-large;
    font-family: fantasy;
}
.hide{
    display: none;
}

@media screen and (max-width: 1010px) {

    .trivia_triv {
        /* width: 700px; */
        width: 85%;
    }

    .trivia_btn_grid {
        grid-template-columns: repeat(1, auto);
    }

}
