body{
    background-color: black;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    margin: 0;
}
.endScreen,
.startScreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.startScreen{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255,1);
}
.endScreen{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 255, 0,1);
}
.hide{
    display: none;
}