body {
    overflow: hidden;
    margin: 0;
    background-color: black;
}

.ddhome {
    height: 100vh;
    width: 100vw;
    background-image: url("img/ddHomescreen.png");
    background-size: cover;
    display: flex;
    overflow: hidden;
}
.ddShopContainer,
.ddHomeTables{
    width: 50vw;
    height: 100%;
}
.ddShopContainer{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    color: lime;
}
.ddMiddleHeader{
    text-align: center;
    margin: 0;
}
.ddShopTable{
    text-align: center;
    font-size: xx-large;
    
}
.ddShopTable td{border-bottom: 1px solid lime;  }
.ddAddSpace{
    background-color: #3f3f3f;
    font-size: 30px;
    color: lime;
    border-radius: 5px;
}

.ddAddSpace:hover{
    filter: brightness(140%);
    transition: .6s;
}
.ddAddSpace:disabled{
    color: #142f15;
    background-color: #191919;
}
.ddShopBorder{
    width: fit-content;
    height: fit-content;
    border: 1px solid lime;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 1%;
}
.ddServUpgradeCost{
    font-size: x-large;
    font-weight: bolder;
    color: rgb(142, 255, 142);
}
.ddAddSpaceRed{
    color: red;
}
.ddScoresDisplay {
    width: fit-content;
    color: lime;
    border-spacing: 5px;
    table-layout: fixed;
}
.ddScoresDisplay th,
.ddScoresDisplay td {
    text-align: left;
    width: 40%;
    background-color: #191919;
    padding: 8px;
    border: 1px solid lime;
    justify-content: center;
}

.ddScoresDisplay td {
    font-size: .9rem;
}
.ddServerTableDisplay {
    width: 40%;
    color: lime;
    border-spacing: 5px;
    table-layout: fixed;
}
.ddServerTableDisplay th,
.ddServerTableDisplay td {
    text-align: center;
    background-color: #191919;
    padding: 8px;
    border: 1px solid lime;
    justify-content: center;
}

.ddServerTableDisplay td {
    font-size: .9rem;
}
.ddShop{
    display: flex;
    color: lime;
    justify-content: center;
    align-items: center;
}


.ddtaskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin: 0;
}

.ddTaskBtn {
    height: 100%;
    background: none;
    color: lime;
    border-radius: 5px;
    transition: .6s;
}
.ddTaskBtn:disabled{color: gray;}

.ddTaskBtnHome {
    font-size: large;
}

.ddTaskBtnReport {
    color: red;
    font-size: large;
    font-weight: bolder;
}

.ddTaskBtn:hover {
    background-color: #414141;
}

.ddLeftTaskBar,
.ddMiddleTaskBar,
.ddRightTaskBar {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: lime;
}

.ddLeftTaskBar {
    width: 25%;
    justify-content: left;
}

.ddMiddleTaskBar {
    width: 40%;
    justify-content: center;

}

.ddRightTaskBar {
    width: 30%;
    justify-content: right;
}

.taskdetail {
    padding-right: 10px;
}

.ddDateAndTimeTask {
    padding-right: 10px;
}

.ddWeatherIcon {
    padding-right: 10px;
}

.ddSun {
    color: yellow;
    width: 15%;
}

.ddCloud {
    color: lightskyblue;
    width: 15%;
}

.ddRain {
    color: rgb(4, 0, 255);
    width: 15%;
}

.ddtempAndDesc {
    padding-left: 10px;
}
.ddExclamation{
    color: red;
}
.ddServerRoom {
    width: 100vw;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.serverContent {
    border: 2px solid lime;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.server {
    border: 2px solid lime;
    margin: 4px;
    width: 90%;
    height: 22%;
    color: lime;
    display: flex;
    padding: 8px;
}

.server:hover {
    border: 4px solid;
    font-weight: 800;
}

.serverText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 33%;
    font-size: 15px;
    margin: auto;
    gap: 4px;
}

.serverTitle {
    line-height: 33%;
}

.serverhealth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
}

.monitorContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
}

.circle {
    width: 10px;
    height: 10px;
    bordeR: 1px solid;
    border-radius: 50%;
    background-color: lime;
}

.inputboxes {
    border: 1px solid;
    text-align: center;
}

.checkLogs,
.checkCameras {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 70%;
    border: 1px solid;
    margin: 4px;
}

.checkLogs:hover,
.checkCameras:hover {
    cursor: pointer;
    border: 5px solid;
    font-weight: 1000;
}

.error1 {
    border: 2px solid orange;
    color: orange;
}

.error2 {
    border: 2px solid red;
    color: red;
}

.Lighterror1 {
    background-color: orange;
}

.Lighterror2 {
    background-color: red;
}

.off {
    background-color: black;
}

.reportButton {
    font-size: x-large;
    font-weight: bolder;
    color: lime;
    border: 3px dotted lime;
    margin: 0;
}

.reportButton:hover {
    cursor: pointer;
    background-color: lime;
    color: black;
}

.ddcams {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ddCamScreenWhole {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.ddIndivScreen {
    width: 90%;
    height: 275px;
    margin-left: 4%;
    background-image: url("img/ddserverRoom.png");
    background-size: cover;
    border: 2px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flash {
    margin: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.ddIndivScreenTop {
    display: flex;
    width: 100%;
    height: 90%;
}

.ddIndivScreenBottom {
    width: 100%;
    height: 10%;
    text-align: center;
    background-image: none;
    background: none;
    border: none;
    color: lime;
    font-size: x-large;
    font-weight: bolder;
}

.ddInsider {
    margin-left: 50%;
    margin-top: 5%;
    height: 200px;
    width: 77px;
    background-image: url("img/employee.jpg");
    background-size: cover;
    clip-path: polygon(100% 100%, 70% 100%, 47% 65%, 43% 70%, 45% 95%, 50% 98%, 55% 100%,
            25% 100%, 25% 83%,0% 79%, 0% 60%, 10% 60%, 10% 27%, 12% 26%,
             35% 20%, 35% 16%, 29% 10%, 29% 5%, 36% 1%, 59% 0%, 64% 6%, 
             62% 7%, 63% 10%, 61% 15%, 54% 19%, 54% 21%, 75% 25%, 76% 40%,
             82% 60%, 72% 64%, 80% 95%, 83% 95%, 83% 98%, 95% 98%);

}
.ddInsider:hover{
    filter: brightness(79%);
    transition: .6s;
}
.ddNametag{
    height: 90%;
    width: 90%;
    background-color: red;
    border: 10px solid white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ddNametagGreeting{
    margin-top: 10%;
    font-size: 50px;
}
.ddNametagName{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 25%;
    border-radius: 20px;
    font-size: xx-large;
    background-color: white;
    font-family: "Permanent Marker", cursive;
}
.ddUSB{
    height: 20px;
    width: 30px;
    margin-top: 37%;
    margin-left: 58%;
    background-image: url("img/dd_USB.png");
    background-size: cover;
}
.ddUSB:hover{
    filter: brightness(305%);
    cursor: grab;
}
.ddLowerNameTag{
    display: flex;
    height: 20%;
    width: 100%;
    padding: 10%;
    justify-content: center;
}
.ddAccessLvlBox,
.ddRoleBox{
    font-size: xx-large;
    display: flex;
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px;
    align-items: center;
    overflow: hidden;
}
.ddAccessTypeText,
.ddRoleTypeText{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    font-family: "Permanent Marker", cursive;
}
.ddRoleTagText,
.ddAccessTagText{
    font-weight: bolder;
}

.ddwebsitesList {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(white, lightskyblue);
}

.ddWebsitesTable {
    margin-top: 5%;
    width: max-content;
    border-spacing: 0px;
    table-layout: fixed;
    height: min-content;
}

.ddWebsitesTable th,
.ddWebsitesTable td {
    text-align: center;
    margin: 0px;
    padding: 8px;
    justify-content: center;
}

.ddWebsitesTable th {
    color: white;
    border: 1px solid white;
    background-color: #414141;
}

.ddWebsitesTable td {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.ddFile:hover {
    background-color: #191919;
    font-size: large;
    cursor: pointer;
    transition: .4s;
}

.ddreport {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #414141;
    justify-content: center;
    font-size: small;
}
.ddGetReportForm{
    margin: 2%;
    background-image: url('img/reportBackgroundImage.png');
    background-size: cover;
    border: none;
    height: 22%;
    width: 43%;
    border-radius: 25px;
}
.ddreportBtnHeader{text-align: center;}
.ddGetReportForm:hover{
    height: 24%;
    width: 46%;
    filter: brightness(90%);
    transition: .8s;
}
.ddReportFormText{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
}
.ddMarkWhite{background-color: white;}

.ddReportform {
    margin: 50px auto;
    margin-top: 1%;
    width: 600px;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.ddReportTypesContainer {
    margin: 50px auto;
    margin-top: 2%;
    width: 600px;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 80%;
}

.ddReportFormContainer {
    height: 100%;
    display: flex;
}

.ddreportSumbit {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ddDeleteReportForm {
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 50px;
    height: 20px;
}

.ddMalSubmit {
    position: relative;
    color: #fff;
    text-decoration: none;
    font: 700 2em 'Yanone Kaffeesatz';
    padding: 4px;
    border-radius: 8px;
    width: 160px;
    text-align: center;
    transition: all .1s ease;
    background-color: red;
    -webkit-box-shadow: 0px 9px 0px rgb(151, 18, 0), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(151, 18, 0), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(151, 18, 0), 0px 9px 25px rgba(0, 0, 0, .7);
    margin-left: 4px;
}

.ddMalSubmit:active {
    color: black;
    -webkit-box-shadow: 0px 3px 0px rgba(151, 18, 0), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(151, 18, 0), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(151, 18, 0), 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}

.ddreportHeader {
    text-align: center;
    margin-top: 0;
    line-height: 15px;
    margin-bottom: 10px;
}

.ddlabel {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.ddcolorRed {
    color: red;
    transition: .5s;
}

.ddServerLogs {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: limegreen;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ddLogHead {
    height: 10%;
    width: 100%;
}

.ddServerLogHeader {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.ddlogTableContainer {
    height: 30%;
}

/* added 
    justify-content: space-between;
    align-items: center;
    */
.ddBottomLogContainer {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ddlogTable {
    margin: 2rem auto;
    border-collapse: collapse;
    width: 90%;
}

.ddlogTable th,
.ddlogTable td {
    padding: 0.5rem;
    border: 1px solid limegreen;
}

.ddlogTable th {
    background-color: limegreen;
    text-align: left;
    color: black;
    border: 1px solid black;
}

.logStatus {
    border: 1px solid limegreen;
    width: fit-content;
}

.ddLogBackBtn {
    background-color: black;
    color: lime;
    border: 2px solid lime;
}

.ddLogBackBtn:hover {
    background-color: #414141;
}

.ddlogStatsContainer {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ddLogGraphContainer {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ddGraphWhole {
    margin: 0;
    height: 65%;
    width: 60%;
    display: flex;
    color: black;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid lime;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.5), 0 0 30px rgba(0, 255, 0, 0.5);
}

.ddGraphMiddle {
    width: 100%;
    height: 70%;
    display: flex;
}

.ddLeftGraph {
    height: 100%;
    width: 15%;
}

.ddTopGraph {
    margin: 5px;
    height: 10%;
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
}

.ddGraphCanvas {
    height: 100%;
    width: 70%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.percentElement {
    width: 100%;
    font-size: small;
    line-height: 10%;
    height: 10%;
    text-align: right;
    font-weight: bold;
}

.ddBtmGraph {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.ddBtmGraphInterval {
    display: flex;
    width: 70%;
}

.ddtimeElement {
    text-align: right;
    width: 10%;
}

.ddtimeLabel {
    line-height: 0;
    margin: 0;
    margin-top: 15px;
}

.ddLogYellow {
    color: yellow;
}

.ddLogRed {
    color: red;
}

.ddMsg {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(60, 177, 255, 0.5);
}

.ddSenderBox {
    height: 100%;
    width: 20%;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.ddmessageTitle {
    margin-top: 0;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.ddSenderContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 600px;
    overflow-y: auto;
    color: black;
}

.ddDomainSender {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
}

.ddMessageSender {
    font-weight: bold;
    color: #555;
}

.ddmessageDate {
    font-size: 12px;
    color: #7d7d7d;
}

.ddMessageContainer {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ddMessageBox {
    height: 70%;
    width: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.ddMessageDiv {
    font-size: x-large;
    white-space: pre;
}

.active {
    background-color: rgba(60, 177, 255, 0.5);
}


/* New Content */
/* info button */
.ddInfoBookButtonContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ddInfoButton img {
    height: 30px;
    width: 30px;
}

.ddTab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    height: 45px;
    width: 45px;
    margin: 5px;
}

.ddNotesButtonClose:hover,
.ddTab:hover {
    filter: brightness(50%);
    transition: .6s;
}

/* info book */
.ddInfoBook {
    height: 700px;
    width: 600px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(232, 196, 142);
    border: rgb(232, 232, 232) 5px;
    border-style: solid;
    border-radius: 5%;
}

.bookHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookHeader button {
    position: absolute;
    top: 7px;
    right: 10px;

}

.bookContent {
    margin: 5px;
    overflow-y: scroll;
}

.bookContent h1 {
    font-size: 35px;
}

.bookContent p,
li {
    font-size: 22px;
}

.bookFooter {
    display: flex;
    justify-content: center;
}

.bookFooter button {
    height: 30px;
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.ddNotes {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px 40px;
    background-color: rgb(255, 250, 230);
    border: rgb(232, 232, 232) 5px;
    border-style: solid;
    border-radius: 5%;
    transform: translate(-50%, -50%);
}

.ddNotes__textarea {
    border: none;
    font-family: "Permanent Marker", cursive;
    font-size: 18px;
    line-height: 18px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    resize: none;
    padding: 8px;
    background-image: linear-gradient(to bottom, transparent 8px, rgba(0, 0, 0, 0.2) 8px, rgba(0, 0, 0, 0.2) 9px, transparent 9px);
    z-index: 10;
    background-size: 18px 18px;
}

.ddNotes__content {
    height: 99%;
    width: 99%;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 5px;
}


.ddNoteHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    margin: 0;
}

.ddNotesButtonClose {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}

.webDivCenter {
    width: 75%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ddWebStat {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ddWebStatcircleDesign {
    height: 2px;
    width: 2px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px white;
}

.ddWebStatGood {
    background-color: lime;
}

.ddWebStatBad {
    background-color: yellow;
}

.ddWebStatTerrible {
    background-color: red;
}

.ddWebFiles {
    height: 70%;
    width: 50%;
    background-color: white;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.ddWebFileExit {
    width: 100%;
    height: 5%;
    background-color: #ccc;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ddwebTableBack {
    margin-right: 1%;
}

.startNewDayButton {
    background-color: #3f3f3f;
    color: #ffffff;
    border: 1px solid lime;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 3px lime;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-left: 10px;
  }
  
  .startNewDayButton:hover {
    background-color: #666666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .startNewDayButton:active {
    background-color: #333333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
/*new*/
.ddAlertMessage{
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.1);
    animation: flash 1s ease-in-out infinite alternate;
    border: 2px solid red;
}

.ddAlertBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ddAlertBox h1{
    margin: 0 0 10px 0;
    color: red;
    text-align: center;
}

.ddAlertBox p{
    margin: 0;
    color: red;
    text-align: center;
}

@keyframes flash {
    from {
      background-color: rgba(255, 0, 0, 0.1);
    }
    to {
      background-color: rgba(255, 0, 0, 0.2);
    }
}

.ddDepositUSB{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    background-image: url("img/dd_dropBox.png");
    background-size: cover;
    border-radius: 20px;
}

.ddDepositUSB:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Hide command */
.hide {
    display: none;
}
