body {
    overflow: hidden;
    margin: 0;
    background-color: black;
}

.ddhome {
    height: 100vh;
    width: 100vw;
    background-image: url("img/ddHomescreen.png");
    background-size: cover;
    overflow: hidden;
}

.ddScoresDisplay {
    width: fit-content;
    color: lime;
    border-spacing: 5px;
    table-layout: fixed;
}

.ddScoresDisplay th,
.ddScoresDisplay td {
    text-align: left;
    width: 40%;
    background-color: #191919;
    padding: 8px;
    border: 1px solid lime;
    justify-content: center;
}

.ddScoresDisplay td {
    font-size: .9rem;
}

.ddtaskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin: 0;
}

.ddTaskBtn {
    height: 100%;
    background: none;
    color: lime;
    border-radius: 5px;
    transition: .6s;
}

.ddTaskBtnHome {
    font-size: large;
}

.ddTaskBtnReport {
    color: red;
    font-size: large;
    font-weight: bolder;
}

.ddTaskBtn:hover {
    background-color: #414141;
}

.ddLeftTaskBar,
.ddMiddleTaskBar,
.ddRightTaskBar {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: lime;
}

.ddLeftTaskBar {
    width: 25%;
    justify-content: left;
}

.ddMiddleTaskBar {
    width: 40%;
    justify-content: center;

}

.ddRightTaskBar {
    width: 30%;
    justify-content: right;
}

.taskdetail {
    padding-right: 10px;
}

.ddDateAndTimeTask {
    padding-right: 10px;
}

.ddWeatherIcon {
    padding-right: 10px;
}

.ddSun {
    color: yellow;
    width: 15%;
}

.ddCloud {
    color: lightskyblue;
    width: 15%;
}

.ddRain {
    color: rgb(4, 0, 255);
    width: 15%;
}

.ddtempAndDesc {
    padding-left: 10px;
}

.ddServerRoom {
    width: 100vw;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.serverContent {
    border: 2px solid lime;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.server {
    border: 2px solid lime;
    margin: 4px;
    width: 90%;
    height: 22%;
    color: lime;
    display: flex;
    padding: 8px;
}

.server:hover {
    border: 4px solid;
    font-weight: 800;
}

.serverText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 33%;
    font-size: 15px;
    margin: auto;
    gap: 4px;
}

.serverTitle {
    line-height: 33%;
}

.serverhealth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
}

.monitorContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
}

.circle {
    width: 10px;
    height: 10px;
    bordeR: 1px solid;
    border-radius: 50%;
    background-color: lime;
}

.inputboxes {
    border: 1px solid;
    text-align: center;
}

.checkLogs,
.checkCameras {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 70%;
    border: 1px solid;
    margin: 4px;
}

.checkLogs:hover,
.checkCameras:hover {
    cursor: pointer;
    border: 5px solid;
    font-weight: 1000;
}

.error1 {
    border: 2px solid orange;
    color: orange;
}

.error2 {
    border: 2px solid red;
    color: red;
}

.Lighterror1 {
    background-color: orange;
}

.Lighterror2 {
    background-color: red;
}

.off {
    background-color: black;
}

.reportButton {
    font-size: x-large;
    font-weight: bolder;
    color: lime;
    border: 3px dotted lime;
    margin: 0;
}

.reportButton:hover {
    cursor: pointer;
    background-color: lime;
    color: black;
}

.ddcams {
    width: 100vw;
    height: 95vh;
    background-image: url("img/ddserverRoom.png");
    background-size: cover;
}

.ddwebsitesList {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(white, lightskyblue);
}

.ddWebsitesTable {
    margin-top: 5%;
    width: max-content;
    border-spacing: 0px;
    table-layout: fixed;
    height: min-content;
}

.ddWebsitesTable th,
.ddWebsitesTable td {
    text-align: center;
    margin: 0px;
    padding: 8px;
    justify-content: center;
}

.ddWebsitesTable th {
    color: white;
    border: 1px solid white;
    background-color: #414141;
}

.ddWebsitesTable td {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.ddFile:hover {
    background-color: #191919;
    font-size: large;
    cursor: pointer;
    transition: .4s;
}

.ddreport {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #414141;
}

.ddReportform {
    margin: 50px auto;
    margin-top: 10px;
    width: 600px;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.ddreportHeader {
    text-align: center;
    margin-top: 0;
    line-height: 15px;
    margin-bottom: 10px;
}

.ddlabel {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.ddcolorRed {
    color: red;
    transition: .5s;
}

.ddServerLogs {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: limegreen;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ddLogHead {
    height: 10%;
    width: 100%;
}

.ddServerLogHeader {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.ddlogTableContainer {
    height: 30%;
}

.ddBottomLogContainer {
    height: 60%;
    width: 100%;
    display: flex;
}

.ddlogTable {
    margin: 2rem auto;
    border-collapse: collapse;
    width: 90%;
}

.ddlogTable th,
.ddlogTable td {
    padding: 0.5rem;
    border: 1px solid limegreen;
}

.ddlogTable th {
    background-color: limegreen;
    text-align: left;
    color: black;
    border: 1px solid black;
}

.logStatus {
    border: 1px solid limegreen;
    width: fit-content;
}

.ddLogBackBtn {
    background-color: black;
    color: lime;
    border: 2px solid lime;
}

.ddLogBackBtn:hover {
    background-color: #414141;
}

.ddlogStatsContainer {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ddLogGraphContainer {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ddGraphWhole {
    margin: 0;
    height: 65%;
    width: 60%;
    display: flex;
    color: black;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid lime;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.5), 0 0 30px rgba(0, 255, 0, 0.5);
}

.ddGraphMiddle {
    width: 100%;
    height: 70%;
    display: flex;
}

.ddLeftGraph {
    height: 100%;
    width: 15%;
}

.ddTopGraph {
    margin: 5px;
    height: 10%;
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
}

.ddGraphCanvas {
    height: 100%;
    width: 70%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.percentElement {
    width: 100%;
    font-size: small;
    line-height: 10%;
    height: 10%;
    text-align: right;
    font-weight: bold;
}

.ddBtmGraph {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.ddBtmGraphInterval {
    display: flex;
    width: 70%;
}

.ddtimeElement {
    text-align: right;
    width: 10%;
}

.ddtimeLabel {
    line-height: 0;
    margin: 0;
    margin-top: 15px;
}

.ddLogYellow {
    color: yellow;
}

.ddLogRed {
    color: red;
}

.ddMsg {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(60, 177, 255, 0.5);
}

.ddSenderBox {
    height: 100%;
    width: 20%;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.ddmessageTitle {
    margin-top: 0;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.ddSenderContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 600px;
    overflow-y: auto;
    color: black;
}

.ddDomainSender {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
}

.ddMessageSender {
    font-weight: bold;
    color: #555;
}

.ddmessageDate {
    font-size: 12px;
    color: #7d7d7d;
}
.ddMessageContainer{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ddMessageBox{
    height: 70%;
    width: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.ddMessageDiv{
    font-size: x-large;
    white-space: pre;
}
.active{
    background-color:rgba(60, 177, 255, 0.5);
}


/* New Content */
/* info button */
.ddInfoBookButtonContainer{
    position: absolute;
    top: 10px;
    right: 10px;
}

.ddInfoButton img{
    height: 30px;
    width: 30px;
}
/* info book */
.ddInfoBook{
    height: 700px;
    width: 600px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -300px;
    background-color: rgb(232, 196, 142);
    border: rgb(232, 232, 232) 5px;
    border-style: solid;
    border-radius: 5%;
}

.bookHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookHeader button{
    position: absolute;
    top: 7px;
    right: 10px;

}

.bookContent{
    margin: 5px;
    overflow-y: scroll;
}

.bookContent h1{
    font-size: 35px;
}

.bookContent p, li{
    font-size: 22px;
}

.bookFooter{
    display: flex;
    justify-content: center;
}

.bookFooter button{
    height: 30px;
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.webDivCenter{
    width: 75%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ddWebStat{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ddWebStatcircleDesign{
    height: 2px;
    width: 2px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px white;
}
.ddWebStatGood{
    background-color: lime;
}
.ddWebStatBad{
    background-color: yellow;
}
.ddWebStatTerrible{
    background-color: red;
}
.ddWebFiles{
    height: 70%;
    width: 50%;
    background-color: white;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.ddWebFileExit{
    width: 100%;
    height: 5%;
    background-color: #ccc;
    display: flex;
    justify-content: end;
    align-items: center;
}
.ddwebTableBack{
    margin-right: 1%;
}

/* Hide command */
.hide {
    display: none;
}
