body {
    background-color: black;
    color: limegreen;
    font-family: monospace;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
}

table {
    margin: 2rem auto;
    border-collapse: collapse;
    width: 90%;
}

th,
td {
    padding: 0.5rem;
    border: 1px solid limegreen;
}

th {
    background-color: limegreen;
    text-align: left;
    color: black;
    border: 1px solid black;
}
.status{
    border: 1px solid limegreen;
    width: fit-content;
}